# Configurações do Mattermost
MATTERMOST_API_URL=http://192.168.1.10:8065/api/v4
MATTERMOST_TOKEN=seu_token_aqui
MATTERMOST_CHANNEL_ID=seu_channel_id_aqui

# Configurações do GLPI
GLPI_API_URL=https://glpi.macielvieiracoelho.com.br/api/v4
GLPI_TOKEN=seu_token_glpi_aqui

# Configurações Flask
FLASK_ENV=production
FLASK_APP=webhook_server.py
